.barLabel {
  fill: #fff;
  text-anchor: middle;
  font-weight: lighter;
  dominant-baseline: central;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.barLabelOutside {
  fill: #555;
  text-anchor: start;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.barProjectLabel {
  fill: #006d75;
  text-anchor: middle;
  font-weight: normal;
  dominant-baseline: central;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.mask {
  fill: rgba(0, 0, 0, 0.5);
  stroke: #000;
  stroke-width: 2;
  pointer-events: none;
}

.selectedMask {
  fill: rgba(0, 100, 0, 0.5);
  stroke: #52c41a;
  stroke-width: 2;
  pointer-events: none;
}

.border {
  fill: rgba(0, 0, 0, 0);
  stroke: #8c8c8c;
  stroke-width: 2;
}