.barLabel {
  fill: #fff;
  text-anchor: middle;
  font-weight: lighter;
  dominant-baseline: central;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.barLabelOutside {
  fill: #555;
  text-anchor: start;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.barLabelOutsideError {
  fill: #ff0000;
  text-anchor: start;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.barProjectLabel {
  fill: #006d75;
  text-anchor: middle;
  font-weight: normal;
  dominant-baseline: central;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.mask {
  fill: rgba(0, 0, 0, 0.5);
  stroke: #000;
  stroke-width: 2;
}

.maskError {
  fill: rgba(100, 0, 0, 0.5);
  stroke: red;
  stroke-width: 2;
}

.maskWarn {
  fill: rgba(218, 212, 8, 0.5);
  stroke: #faad14;
  stroke-width: 2;
}

.selectedMask {
  fill: rgba(0, 100, 0, 0.5);
  stroke: #52c41a;
  stroke-width: 2;
}

.border {
  fill: rgba(0, 0, 0, 0);
  stroke: #8c8c8c;
  stroke-width: 2;
}

.barWrapper {
  cursor: pointer;
  outline: none;
}

.barWrapper:hover .barHandle {
  visibility: visible;
  opacity: 1;
}

.barHandle {
  fill: #ddd;
  cursor: ew-resize;
  opacity: 0;
  visibility: hidden;
}

.barBackground {
  user-select: none;
  stroke-width: 0;
}